<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018844430656-6oipjq63t31sr2ilkodeffula0ms0u2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018844430656-6oipjq63t31sr2ilkodeffula0ms0u2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDMe0na5N-A-NEKx2M5UVUMRabVzX3g01c</string>
	<key>GCM_SENDER_ID</key>
	<string>1018844430656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirocosic.xtrack</string>
	<key>PROJECT_ID</key>
	<string>xtrack-1bd90</string>
	<key>STORAGE_BUCKET</key>
	<string>xtrack-1bd90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018844430656:ios:a45ea22c75920bbfeefaa5</string>
	<key>DATABASE_URL</key>
	<string>https://xtrack-1bd90.firebaseio.com</string>
</dict>
</plist>